<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styl.css" />
  </head>

  <body>
<script src="/socket.io/socket.io.js"></script>
<div class="layer closed"></div>
    <div class="app">
      <h1 class="app__header">
        <div class="app__header__dropdown">
          <div class="settings">
            <div class="settings__option">Username: <%= locals.username %> </div>
            <div class="settings__option" id="changeAvatar">change avatar</div>
          </div>
          <div data-username="<%= locals.username %>" class="app__header__avatar">
            <% if(locals.avatarSrc===""){ %>
               <%= locals.username.slice(0,2) %>
            <% } %>
          </div>
        </div>
        <span>kod: <%= locals.code %></span>
        <form method="POST" action="/logout">
          <input
            class="app__header__logout"
            type="submit"
            value="wyloguj się"
          />
        </form>
      </h1>
      <main class="app__content">
        <div class="app__menu">
          <input
            type="button"
            class="app__menu__add-contact"
            value="dodaj kontakt"
          />
          <div class="app__menu__contacts">

          <% for(let i=0;i<locals.contacts.length;i++){ %>
          <div class="contact" data-name-of-chat="<%= locals.contacts[i].nameOfChat  %>">
            <% if(locals.contacts[i].avatarSrc===""){ %>
            <div class="avatar" style="background-image:''"> 
            <% } else{%>
            <div class="avatar" style="background-image: url('<%=locals.contacts[i].avatarSrc%>');"> 
            <% }%>
            
              <% if(locals.contacts[i].avatarSrc===""){ %>
                <%=locals.contacts[i].username.slice(0,2) %>
                <% } %>
            </div>
              <div>
                <p class="contact__info__name"><%= locals.contacts[i].username %></p>
                <p class="contact__info__text">
                  <% if(locals.contacts[i].lastMessage) { %>
                      <% if(locals.contacts[i].senderUsername===locals.username){%>
                        ty:
                      <% }%>
                      <%= locals.contacts[i].lastMessage %>
                  <%} %>
                  </p>
                </div>
          </div>
          <% } %>
        </div> 

        </div>
        <div class="chat">
          <h1 class="chat__header">
            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg class="chat__header__back-arrow"   viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title>ionicons-v5-a</title><polyline points="244 400 100 256 244 112" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/><line x1="120" y1="256" x2="412" y2="256" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
            <div class="chat__header__avatar"></div>
            <div class="chat__header__username"></div>
          </h1>
          <div class="chat__content">
              <div class="message">
                <div class="message__date">czw. o 21.42</div>
                  <div class="message__content">
                    <div class="message__content__avatar">sd</div>
                    <div class="message__content__text ">
                      optio, similique, possimus fugiat.
                  </div>
                </div>
              </div>
          </div>
          <form class="chat__footer">
            <input
              type="text"
              class="chat__footer__message"
              name="message"
              placeholder="wiadomość"
            />
            <input
              type="button"
              class="chat__footer__send"
              value="wyślij"
            />
          </form>
        </div>
      </main>
    </div>
  <div class="popup popup--code" data-type-of-popup="code">
    <div class="popup__info">
      <h3 class="popup__info__title">Wpisz kod</h3>
      <input type="text" name="code" class="popup__info__code" />
    </div>
    <div class="popup__buttons">
      <input
        type="button"
        value="anuluj"
        class="popup__btn popup__btn--cancel"
      />
      <input type="button" value="dodaj" class="popup__btn popup__btn--add" data-popup-btn-option="addContact" />
    </div>
    <div class="popup__error"></div>
  </div>
  <div class="popup popup--avatars"  data-type-of-popup="avatars">
    <div class="popup__info">
      <h3 class="popup__info__title">Wybierz avatar</h3>
    </div>
    <div class="popup__avatars">
      <div class="avatar avatar--select" data-id-of-avatar="default"><%= username.slice(0,2) %></div>
    </div>
    <div class="popup__buttons">
      <input
         type="button"
         value="anuluj"
        class="popup__btn popup__btn--cancel"
        />
      <input type="button" value="wybierz" class="popup__btn popup__btn--change" data-popup-btn-option="changeAvatar" />
    </div>
  </div>
  <script src="/scripts/server-client.js"></script>
  <script src="/scripts/ui.js"></script>
  <script src="/scripts/eventListeners.js"></script>
  <script>
      const defaultAvatarsToGenerate=  `<%-JSON.stringify(locals.defaultAvatars) %>`;
      const avatar=`<%- JSON.parse( JSON.stringify(locals.avatarSrc)) %>`;
      initialize(avatar,defaultAvatarsToGenerate);
  </script>
  </body>
</html>
